header.header
    .header-top
        .container 
            .flex-center-between 
                ul.align-sm-items-center.d-none 
                    each val in ['How to buy','Return','Delivery']
                        li.menu2-item 
                            a.c-white.fs-14(href="#")=val
                ul.align-sm-items-center.social2.d-none  
                    each val in ['facebook','instagram','twitter']
                        li
                            a(href="#")
                                +icon(val)

                nav.navmenu 
                    ul.menu 
                        li.menu-item.d-md-none
                            a.menu-link(href="#") 
                                span.align-items-center
                                    +icon("user")
                                    | Sign In
                        each val, index in [{icon: 'books', link: 'A-Z Drugs'},{icon: 'head_question', link: 'FAQ'},{icon: '004-info', link: 'How it Works'},{icon: 'head_discount', link: 'Discount'},{icon: 'head_call', link: 'Contact Us'}]    
                            li.menu-item(class=index==0 ? 'active': '') 
                                a.menu-link(href="#")
                                    span.align-items-center
                                        +icon(val.icon)
                                        =val.link
                    .navmenu-bottom.d-md-none  
                        a.flex-center-center(href="tel:8557701077") 
                            +icon("customer-service","wh-25 c-green mr-20")
                            span.lh-1_2.text-nowrap
                                span.fs-14.c-gray-600 Client Support
                                span.fw-semi.d-block.c-blue-navy (855) 770-1077

    .container
        .flex-center-between
            button.burger.mr-20(type="button")
                span.burger-line.burger-line-top
                span.burger-line.burger-line-center
                span.burger-line.burger-line-bottom
            a.logo(href="#")
                .mr-lg-20.logo-item
           

            a.align-md-items-center.mx-auto.d-none(href="tel:8557701077") 
                +icon("customer-service","wh-25 c-green mr-20")
                span.lh-1_2.text-nowrap
                    span.fs-14.c-gray-600 Client Support
                    span.fw-semi.d-block.c-blue-navy (855) 770-1077
            form.search.d-xl-block.d-none
                input(type="text" placeholder="Type your drug name (like Atorvastin, Sildenafil, etc)" required)
                button.btn-search(type="submit")
                    +icon("search_magnific")
                button.btn-close(type="reset")
                    +icon("close")
                .search-dropdown 
                    ul.search-dropdown_list
                        li 
                            a(href="#") asp
                                b.fw-semi irin
                        li 
                            a(href="#") asp
                                b.fw-semi irin 
                                span.fw-semi / dipyridamole ER 
                                span.fw-medium (generic Aggrenox)
                        li 
                            a(href="#") asp
                                b.fw-semi irin 
                                span.fw-semi / caffeine / dihydrocodeine 
                                span.fw-medium (generic Synalgos DC)
                        li 
                            a(href="#") asp
                                b.fw-semi irin 
                                span.fw-semi / omeprazole DR 
                                span.fw-medium (generic Yosprala)
                        li 
                            a(href="#") Asp
                                b.fw-semi arlas
                        li 
                            a(href="#") Anaspaz
                        li 
                            a(href="#") Astepro (azelastine)
                        li 
                            a(href="#") buspirone
                        li 
                            a(href="#") Niaspan (niacin ER)
                    .search-dropdown_view 
                        .flex-center-between
                            p.fw-bold.fs-14.text-up RECENTLY VIEW
                            button.fs-14.c-green.fw-semi(type="button") Clear All
                        ul
                            each val in [{img: 'rectangle_12_7672.jpg', name: 'Pantoprazole', info: '30 tablets 100mg'},{img: 'rectangle_12_7672.jpg', name: 'Ketoprofen / Sildenafil', info: '30 tablets 100mg'},{img: 'rectangle_12_7672.jpg', name: 'Viagra / Sildenafil', info: '30 tablets 100mg'},]
                                li.flex-center-between 
                                    .align-items-center
                                        a(href="#") 
                                            img(src="img/product/"+val.img, alt="product")
                                        div 
                                            a.fw-semi.fs-14.c-blue(href="#")=val.name
                                            p.fs-14=val.info 
                                    button.btn-remove(type="button")
                                        +icon("close")
                        label.align-items-center.mt-20
                            input.checkbox(type="checkbox" checked)
                            span.check.mr-14
                                +icon("check")
                            span.fs-14 Save recent searches
            .align-items-center 
                a.align-md-items-center.link2.d-none(href="#") 
                    +icon("user","c-green mr-14 wh-25")
                    span.fs-14.fw-semi.c-blue-navy.text-nowrap Sign In
                a.align-items-center.link2(href="#") 
                    .circle-red.mr-md-14
                        +icon("shopping-cart","c-green wh-25")
                    .align-md-items-center.d-none
                        span.mr-14.fs-14.fw-semi.c-blue-navy Cart
                        +icon("angle-down","c-green")

        form.search-xl.d-xl-none
            input(type="text" placeholder="Type your drug name (like Atorvastin, Sildenafil, etc)" required)
            button.btn-search(type="submit")
                +icon("search_magnific")
            button.btn-close(type="reset")
                +icon("close")
            .search-dropdown 
                ul.search-dropdown_list
                    li 
                        a(href="#") asp
                            b.fw-semi irin
                    li 
                        a(href="#") asp
                            b.fw-semi irin 
                            span.fw-semi / dipyridamole ER 
                            span.fw-medium (generic Aggrenox)
                    li 
                        a(href="#") asp
                            b.fw-semi irin 
                            span.fw-semi / caffeine / dihydrocodeine 
                            span.fw-medium (generic Synalgos DC)
                    li 
                        a(href="#") asp
                            b.fw-semi irin 
                            span.fw-semi / omeprazole DR 
                            span.fw-medium (generic Yosprala)
                    li 
                        a(href="#") Asp
                            b.fw-semi arlas
                    li 
                        a(href="#") Anaspaz
                    li 
                        a(href="#") Astepro (azelastine)
                    li 
                        a(href="#") buspirone
                    li 
                        a(href="#") Niaspan (niacin ER)
                .search-dropdown_view 
                    .flex-center-between
                        p.fw-bold.fs-14.text-up RECENTLY VIEW
                        button.fs-14.c-green.fw-semi(type="button") Clear All
                    ul
                        each val in [{img: 'rectangle_12_7672.jpg', name: 'Pantoprazole', info: '30 tablets 100mg'},{img: 'rectangle_12_7672.jpg', name: 'Ketoprofen / Sildenafil', info: '30 tablets 100mg'},{img: 'rectangle_12_7672.jpg', name: 'Viagra / Sildenafil', info: '30 tablets 100mg'},]
                            li.flex-center-between 
                                .align-items-center
                                    a(href="#") 
                                        img(src="img/product/"+val.img, alt="product")
                                    div 
                                        a.fw-semi.fs-14.c-blue(href="#")=val.name
                                        p.fs-14=val.info 
                                button.btn-remove(type="button")
                                    +icon("close")
                    label.align-items-center.mt-20
                        input.checkbox(type="checkbox" checked)
                        span.check.mr-14
                            +icon("check")
                        span.fs-14 Save recent searches