mixin icon(name,mod)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod)
			use(xlink:href="img/sprite/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="img/sprite/symbol/sprite.svg#" + name)

mixin breadcrumbs-item(text,href)
	li.breadcrumbs__item
		if(href)
			a.breadcrumbs__link(href=href)=text
		else
			span.breadcrumbs__text=text

mixin topblock(green,text,text2)
	.topblock
		.topblock-container
			.topblock-img
			.topblock-title.align-lg-items-end
				.align-md-items-end
					.mr-25.text-up 
						p.fs-40.fw-semi.c-green.align-items-center 
							span.mr-8 Top
							+icon("top_20_arrow")
						p.fs-100.fw-bold.c-green 20
					p.fs-35.c-blue-navy.mb--5.text-up Most 
						span.d-block(class=green==true ? 'c-green fw-bold':'')=text 
						| Medications
				.dashed-vertical.dashed-vertical-lg
				p.c-blue.fs-18.mb--5 These are the most <br class="d-lg-block d-none"> commonly-prescribed <br class="d-lg-block d-none"> medications on 
					span(class=green==true ? 'c-green':'')=text2
			.slider-medications
				.d-flex
					ul.medications
						each val, index in [{icon: 'pills_002', name: 'Sildenafil'}, {icon: 'pills_002', name: 'Amphetamine Salt Co ...'}, {icon: 'pills_002', name: 'Phentermine'}, {icon: 'pills_002', name: 'Hydrocodone / Acet ...'}, {icon: 'pills_001', name: 'Gabapentin'}]
							li.medications-item
								a.medications-link.flex-center-between(href="#")
									span.align-items-center
										+icon(val.icon, "medications-icon")
										span=val.name
									+icon("arrow_right")
									span.medications-plus
					ul.medications
						each val, index in [{icon: 'pills_001', name: 'Alprazolam'}, {icon: 'pills_001', name: 'Prednisone'}, {icon: 'pills_001', name: 'Albuterol'}, {icon: 'pills_002', name: 'Zolpidem'}, {icon: 'pills_001', name: 'Amoxicillin'}]
							li.medications-item
								a.medications-link.flex-center-between(href="#")
									span.align-items-center
										+icon(val.icon, "medications-icon")
										span=val.name
									+icon("arrow_right")
									span.medications-plus
					ul.medications
						each val, index in [{icon: 'pills_001', name: 'Amphetamine Salt C ...'}, {icon: 'pills_002', name: 'Atorvastatin'}, {icon: 'pills_002', name: 'Lisinopril'}, {icon: 'pills_004', name: 'Azithromycin'}, {icon: 'pills_002', name: 'Tramadol'}]
							li.medications-item
								a.medications-link.flex-center-between(href="#")
									span.align-items-center
										+icon(val.icon, "medications-icon")
										span=val.name
									+icon("arrow_right")
									span.medications-plus
					ul.medications
						each val, index in [{icon: 'pills_002', name: 'Amoxicillin / Potassiu ...'}, {icon: 'pills_002', name: 'Clonazepam'}, {icon: 'pills_002', name: 'Ondansetron'}, {icon: 'pills_002', name: 'Pantoprazole'}, {icon: 'pills_002', name: 'Cyclobenzaprine'}]
							li.medications-item
								a.medications-link.flex-center-between(href="#")
									span.align-items-center
										+icon(val.icon, "medications-icon")
										span=val.name
									+icon("arrow_right")
									span.medications-plus
									
				ul.slick-dots.d-lg-none
					li.slick-active(role='presentation')
						button(type='button' role='tab')
					li(role='presentation')
						button(type='button' role='tab')
					li(role='presentation')
						button(type='button' role='tab')
					li(role='presentation')
						button(type='button' role='tab')