extends layout/main

block variables
	-var title = 'Product'
block content
	.bg-before-blue
	.container
		.flex-lg-end-between.pt-35 
			.product-title
				ul.breadcrumbs.breadcrumbs_v2
					+breadcrumbs-item('Pantoprazole', '#')
					+breadcrumbs-item('Generic', '#')
					+breadcrumbs-item('Sildenafil', '#')
			.align-items-center
				p.fs-14.c-gray.mr-14.d-lg-block.d-none Share
				ul.social.social-gray.d-flex 
					each val in ['facebook','twitter','instagram']
						li.social-item 
							a.social-link(href="#")
								+icon(val)
		.product
			.flex-wrap.justify-content-between 
				.product-left 
					.slider-for 
						.slider-for-item 
							img(src="img/product/rectangle_12_7672.jpg", alt="product")
						.slider-for-item 
							img(src="img/product/rectangle_12_7672.jpg", alt="product")
						.slider-for-item 
							img(src="img/product/rectangle_12_7672.jpg", alt="product")
						.slider-for-item 
							img(src="img/product/rectangle_12_7672.jpg", alt="product")
					.slider-nav
						.slider-nav-item 
							img(src="img/product/rectangle_12_7672.jpg", alt="product")
						.slider-nav-item 
							img(src="img/product/rectangle_12_7672.jpg", alt="product")
						.slider-nav-item 
							img(src="img/product/rectangle_12_7672.jpg", alt="product")
						.slider-nav-item 
							img(src="img/product/rectangle_12_7672.jpg", alt="product")
				.product-center
					p.fw-bold.c-blue Description
					.dashed-horizontal.my-10
					p.fs-14.c-blue.line-clamp Pantoprazole (
						a.c-green(href="#") Protonix
						|) is an inexpensive drug used to treat 
						a.c-green(href="#")  gastroesophageal reflux disease, 
						| inflammation of the esophagus, and Zollinger-Ellison syndrome. This drug is slightly more popular than comparable drugs. It is available in brand and generic form. Generic pantoprazole is covered by most Medicare and insurance plans, but some pharmacy coupons or cash prices may be lower. The lowest GoodRx price for the most common version of pantoprazole is around $8.84, 86% off the average retail price of $66.96 ...
					a.c-green.btn-more(href="#") 
						+icon("long-arrow", "c-green mr-14")
						| More
					hr.line.mb-10.mt-20.d-sm-block.d-none
					p.fw-bold.c-blue.py-3 Prescription Settings
					.d-flex.settings
						.select
							select
								option(value="" selected) Generic
								option(value="") Generic
								option(value="") Generic
						.select
							select
								option(value="" selected) Tablet
								option(value="") Tablet
								option(value="") Tablet
						.select
							select
								option(value="" selected) 40mg
								option(value="") 40mg
								option(value="") 40mg
						.select
							select
								option(value="" selected) 30 tablets
								option(value="") 30 tablets
								option(value="") 30 tablets
				.product-right 
					p.fs-35.text-up.c-blue.mb-5 we found <br class="d-xl-block d-none"> best price 
					.align-items-center
						img.mr-10(src="img/flags/germany.png", alt="germany" width="16px" height="12px")
						p.c-blue in 
							span.c-green.fs-14 Germany
					hr.line.my-30
					.d-flex
						div.mr-40 
							p.fs-50.fw-bold.c-green $8.38
							p.fs-18.fw-medium.c-gray $31 retail
						div 
							p.fs-18.c-green.fw-semi.lh-24 Save 73%
							p.fs-14.c-blue.lh-20 Much сheaper <br> than in the USA

					a.btn.mt-30(href="#") Order Now
						+icon("arrow_right")

					.align-items-center.mt-20.mailfree-block
						.align-items-center.w-50.px-20 
							+icon("mail", "mr-20")
							p.fs-12.text-up.fw-semi.c-gray-600 Mail <br> Order
						.align-items-center.w-50.px-20 
							+icon("delivery-truck", "mr-20")
							p.fs-12.text-up.fw-semi.c-gray-600 Free <br> shipping
			ul.tabs.d-sm-flex 
				li.tabs-item.active
					.align-items-center.tabs-item_main
						+icon("price-tag")
						p.fw-medium.c-blue Price worldwide
						.plus.d-sm-none
					.content-item.d-sm-none
						.flex-wrap
							.content-item_table
								table.table.w-100
									tr.flex-md-center-between.d-flex.py-20.table-tr
										td.w-100
											table.table_in
												tr.flex-md-center-between
													td.table_in_td-first
														.align-sm-items-center.d-flex
															img.mr-25(src="img/flags/germany.png", alt="germany" width="16px" height="14px")
															div 
																p.c-blue.lh-1_2 Best price <br> in 
																	span.fs-14.c-green Germany
													td.table_in_td-second 
														p.fs-30.fw-bold.c-green.lh-1_2 $8.38
														p.fw-medium.c-green.lh-20 Save 73%
										td.w-100
											table.table_in
												tr.flex-md-center-between
													td.table_in_td-first.justify-md-content-center  
														p.fs-14.c-blue.lh-20 Much сheaper <br> than in the USA
													td 
														a.btn.lh-45.fs-14.fw-semi(href="#") Order Now
									- 
										list = [
											{
												flag: 'germany.png', 
												place: 'Moldova', 
												save: '69%'
											},
											{
												flag: 'buigaria.png', 
												place: 'Buigaria', 
												save: '65%'
											},
											{
												flag: 'finland.png', 
												place: 'Finland', 
												save: '65%'
											},
											{
												flag: 'russia.png', 
												place: 'Russia', 
												save: '65%'
											},
											{
												flag: 'romania.png', 
												place: 'Romania', 
												save: '65%'
											},
											{
												flag: 'italy.png', 
												place: 'Italy', 
												save: '65%'
											},
											{
												flag: 'switzerland.png', 
												place: 'Switzerland', 
												save: '65%'
											},
											{
												flag: 'poland.png', 
												place: 'Poland', 
												save: '65%'
											},
											{
												flag: 'uk.png', 
												place: 'UK', 
												save: '42%'
											}

										]
									each val in list
										tr.flex-center-between.py-20.table-tr
											td.flex-basis-1 
												.align-items-center
													img.mr-25(src="img/flags/"+val.flag, alt="germany" width="16px" height="14px")
													div 
														p.c-blue.lh-1_2 Price in 
															span.fs-14.c-green=val.place
											td.w-100
												table.w-100.table_in 
													tr.flex-md-center-between.flex-center-end
														td
															p.fs-20.c-blue $8.44
														td 
															p.fw-medium.c-green Save  
																span=val.save
								a.c-green.btn-more.my-20(href="#") 
									+icon("long-arrow", "c-green mr-14")
									| Load more results
							.mapside 
								#map 
									img.w-100(src="img/common/map.png", alt="map")
								.map-tooltip
									.align-items-center 
										img.mr-10(src="img/flags/germany.png", alt="germany" width="16px" height="16px")
										p.c-blue.fw-bold Moldova
									hr.line.my-20
									.align-items-center 
										p.fs-30.c-green.text-up.mr-20 $8.44
										p.fs-14.c-gray-600.lh-14 Average price <br> in country
								.contry.flex-center-around 
									label.align-items-center  
										input.checkbox(type="radio" name="contry")
										span.check-radio.mr-8
										span.c-blue USA
									label.align-items-center  
										input.checkbox(type="radio" name="contry" checked)
										span.check-radio.mr-8
										span.c-blue Europe
									label.align-items-center  
										input.checkbox(type="radio" name="contry")
										span.check-radio.mr-8
										span.c-blue Russia
									label.align-items-center 
										input.checkbox(type="radio" name="contry")
										span.check-radio.mr-8
										span.c-blue Asia
				li.tabs-item
					.align-items-center.tabs-item_main
						+icon("info")
						p.fw-medium.c-blue Drug Info
						.plus.d-sm-none
					.content-item.d-sm-none
				li.tabs-item
					.align-items-center.tabs-item_main
						+icon("warning")
						p.fw-medium.c-blue Side Effects
						.plus.d-sm-none
					.content-item.d-sm-none
			.content.d-sm-block.d-none 
				.content-item
					.flex-wrap
						.content-item_table
							table.table.w-100
								tr.flex-md-center-between.d-flex.py-20.table-tr
									td.w-100
										table.table_in
											tr.flex-md-center-between
												td.table_in_td-first
													.align-items-center
														img.mr-25(src="img/flags/germany.png", alt="germany" width="16px" height="14px")
														div 
															p.c-blue.lh-1_2 Best price <br> in 
																span.fs-14.c-green Germany
												td 
													p.fs-30.fw-bold.c-green.lh-1_2 $8.38
													p.fw-medium.c-green.lh-20 Save 73%
									td.w-100
										table.table_in
											tr.flex-md-center-between
												td.table_in_td-first.justify-md-content-center  
													p.fs-14.c-blue.lh-20 Much сheaper <br> than in the USA
												td 
													a.btn.lh-45.fs-14.fw-semi(href="#") Order Now
								- 
									list = [
										{
											flag: 'germany.png', 
											place: 'Moldova', 
											save: '69%'
										},
										{
											flag: 'buigaria.png', 
											place: 'Buigaria', 
											save: '65%'
										},
										{
											flag: 'finland.png', 
											place: 'Finland', 
											save: '65%'
										},
										{
											flag: 'russia.png', 
											place: 'Russia', 
											save: '65%'
										},
										{
											flag: 'romania.png', 
											place: 'Romania', 
											save: '65%'
										},
										{
											flag: 'italy.png', 
											place: 'Italy', 
											save: '65%'
										},
										{
											flag: 'switzerland.png', 
											place: 'Switzerland', 
											save: '65%'
										},
										{
											flag: 'poland.png', 
											place: 'Poland', 
											save: '65%'
										},
										{
											flag: 'uk.png', 
											place: 'UK', 
											save: '42%'
										}

									]
								each val in list
									tr.flex-center-between.py-20.table-tr
										td.flex-basis-1 
											.align-items-center
												img.mr-25(src="img/flags/"+val.flag, alt="germany" width="16px" height="14px")
												div 
													p.c-blue.lh-1_2 Price in 
														span.fs-14.c-green=val.place
										td.w-100
											table.w-100.table_in 
												tr.flex-md-center-between.flex-center-end
													td
														p.fs-20.c-blue $8.44
													td 
														p.fw-medium.c-green Save  
															span=val.save
							a.c-green.btn-more.my-20(href="#") 
								+icon("long-arrow", "c-green mr-14")
								| Load more results
						.mapside 
							#map 
								img.w-100(src="img/common/map.png", alt="map")
							.map-tooltip
								.align-items-center 
									img.mr-10(src="img/flags/germany.png", alt="germany" width="16px" height="16px")
									p.c-blue.fw-bold Moldova
								hr.line.my-20
								.align-items-center 
									p.fs-30.c-green.text-up.mr-20 $8.44
									p.fs-14.c-gray-600.lh-14 Average price <br> in country
							.contry.flex-center-around 
								label.align-items-center  
									input.checkbox(type="radio" name="contry")
									span.check-radio.mr-8
									span.c-blue USA
								label.align-items-center  
									input.checkbox(type="radio" name="contry" checked)
									span.check-radio.mr-8
									span.c-blue Europe
								label.align-items-center  
									input.checkbox(type="radio" name="contry")
									span.check-radio.mr-8
									span.c-blue Russia
								label.align-items-center 
									input.checkbox(type="radio" name="contry")
									span.check-radio.mr-8
									span.c-blue Asia
				
				.content-item.active
					.flex-wrap
						.content-item_links.mt-25  
							p.fs-16.fw-bold.c-blue Quick Links
							.dashed-horizontal.my-10
							ul.list 
								each val in ['What is Pantoprazole?', 'Overview', 'Proper Use', 'Dosing', 'Missed Dose', 'Use & Storage', 'Before Using', 'Allergies', 'Pediatric', 'Geriatric', 'Breastfeeding', 'Drug Interactions', 'Other Interactions', 'Other Medical Problems', 'Precautions']
									li.list-item
										a.list-link(href="#")
											+icon("arrow_right")
											=val
						.content-item_info.mt-25 
							.collapse 
								.align-items-center.collapse-item
									div
										p.fs-16.fw-bold.c-blue What is Pantoprazole?
										.dashed-horizontal.my-10
									+icon("angle-down", "d-sm-none")
							
								ul.collapse-drop 
									li.d-flex.mb-8
										.flex-basis.align-items-center
											p.fs-14.c-blue.text-nowrap Commonly Used Brand Name(s) 
											.dotted.mx-30
										a.fs-14.c-green.fw-semi(href="#") Protonix
									li.d-flex.mb-8
										.flex-basis.align-items-center
											p.fs-14.c-blue.text-nowrap Therapeutic Classifications
											.dotted.mx-30 
										a.fs-14.c-green.fw-semi(href="#") Gastric Acid Secretion Inhibitor
									li.d-flex.mb-8
										.flex-basis.align-items-center
											p.fs-14.c-blue.text-nowrap Pharmacologic Classifications
											.dotted.mx-30 
										a.fs-14.c-green.fw-semi(href="#") Proton Pump Inhibitor
							hr.line.my-20
							.collapse.pt-10
								.align-items-center.collapse-item
									div
										p.fs-16.fw-bold.c-blue Overview
										.dashed-horizontal.my-10
									+icon("angle-down", "d-sm-none")
								.collapse-drop 
									p.fs-14.pb-20
										a.c-green(href="#") Pantoprazole 
										|is used to treat certain conditions in which there is too much acid in the stomach. It is used to treat erosive esophagitis or "heartburn" caused by 
										a.c-green(href="#") gastroesophageal reflux disease (GERD)
										|, a condition where the acid in the stomach washes back up into the esophagus. This medicine may also be used to treat Zollinger-Ellison syndrome, a condition where the stomach produces too much acid.
									p.fs-14.pb-20 
										a.c-green(href="#") Pantoprazole 
										|is a proton pump inhibitor (PPI). It works by decreasing the amount of acid produced by the stomach.
									p.fs-14.pb-20 This medicine is available only with your doctor's prescription.
							hr.line.my-20
							.collapse.pt-10
								.align-items-center.collapse-item
									div
										p.fs-16.fw-bold.c-blue Proper Use
										.dashed-horizontal.my-10
									+icon("angle-down", "d-sm-none")
								.collapse-drop 
									p.fs-14.pb-20
										i.fw-semi  Take this medicine only as directed by your doctor. 
										| Do not take more of it, do not take it more often, and do not take it for a longer time than your doctor ordered.
									
									p.fs-14.pb-20 This medicine comes with a Medication Guide. Read and follow these instructions carefully. Ask your doctor if you have any questions.
									p.fs-14.pb-20 Swallow the delayed-release tablet whole. Do not split, crush, or chew it. You may take the tablet with or without food.
									p.fs-14.pb-10 For 
										i.fw-semi delayed-release oral suspension granules:
									.pl-20
										p.fs-14.fw-semi.mb-8 Applesauce method:
										ol.list-number.pb-20
											li.fs-14.c-blue.pb-10 Open packet.
											li.fs-14.c-blue.pb-10 Mix the packet contents with 1 teaspoonful of applesauce. Do not mix with water, other liquids, or food.
											li.fs-14.c-blue.pb-10 Swallow the mixture at least 30 minutes before a meal. Take it within 10 minutes after you mix it.
											li.fs-14.c-blue.pb-10 Sip some water after you swallow the mixture. This will make sure all of the granules get all the way to your stomach.
											li.fs-14.c-blue.pb-10 Do not chew or crush the granules. Do not divide the packet contents to make smaller doses.
										
										p.fs-14.fw-semi.mb-8 Apple juice method:
										ol.list-number.pb-20
											li.fs-14.c-blue.pb-10 Open packet.
											li.fs-14.c-blue.pb-10 Mix the packet contents with 1 teaspoon of apple juice in a small cup or container.
											li.fs-14.c-blue.pb-10 Stir for 5 seconds (granules will not dissolve) and swallow it immediately or take it at least 30 minutes before a meal.
											li.fs-14.c-blue.pb-10 Rinse the container with apple juice to make sure you get all of the medicine. Swallow it immediately.
											li.fs-14.c-blue.pb-10 Do not chew or crush the granules. Do not divide the packet contents to make smaller doses.
										p.fs-14.fw-semi.mb-8 Feeding tube:
										ol.list-number
											li.fs-14.c-blue.pb-10 Pour the packet contents in a 2-ounce (60 mL) catheter-tip syringe.
											li.fs-14.c-blue.pb-10 Clear any clogs from the feeding tube before you put this medicine mixture into the tube.
											li.fs-14.c-blue.pb-10 Add 10 mL of apple juice into the syringe. Gently tap or shake the barrel of the syringe to help rinse the syringe and tube.
											li.fs-14.c-blue.pb-10 Repeat with an additional 10 mL of apple juice. No granules should remain in the syringe.
											li.fs-14.c-blue.pb-10 Take this medicine at least 30 minutes before a meal.
							hr.line.my-20
									
							.collapse.pt-10
								.align-items-center.collapse-item
									div
										p.fs-16.fw-bold.c-blue Drug Interactions
										.dashed-horizontal.my-10
									+icon("angle-down", "d-sm-none")
								.collapse-drop 
									p.fs-14.pb-20 Although certain medicines should not be used together at all, in other cases two different medicines may be used together even if an interaction might occur. In these cases, your doctor may want to change the dose, or other precautions may be necessary. When you are taking this medicine, it is especially important that your healthcare professional know if you are taking any of the medicines listed below. The following interactions have been selected on the basis of their potential significance and are not necessarily all-inclusive.

									p.fs-14 Using this medicine with any of the following medicines is not recommended. Your doctor may decide not to treat you with this medication or change some of the other medicines you take.
										a.c-green.fw-semi.fs-14.my-10.d-block(href="#") ·  Rilpivirine
									p.fs-14.pb-20 Using this medicine with any of the following medicines is usually not recommended, but may be required in some cases. If both medicines are prescribed together, your doctor may change the dose or how often you use one or both of the medicines.
								
							.flex-wrap
								ul.list-disk.pb-20.w-50
									each val in ['Acalabrutinib','Acalabrutinib','Amphetamine','Atazanavir','Benzphetamine','Bosutinib','Capecitabine','Cilostazol','Citalopram','Dacomitinib','Dasatinib','Dextroamphetamine','Erlotinib','Eslicarbazepine Acetate','Gefitinib','Ketoconazole']
										li.fs-14.c-blue.fw-medium=val 
								ul.list-disk.pb-20.w-50
									each val in ['Acalabrutinib','Acalabrutinib','Amphetamine','Atazanavir','Benzphetamine','Bosutinib','Capecitabine','Cilostazol','Citalopram','Dacomitinib','Dasatinib','Dextroamphetamine','Erlotinib','Eslicarbazepine Acetate','Gefitinib','Ketoconazole']
										li.fs-14.c-blue.fw-medium=val 
						.content-item-imgs.mt-25 
							p.fs-16.fw-bold.c-blue Pantoprazole Images
							.dashed-horizontal.my-10
							.flex-wrap.content-item-imgs_cards 
								each val in [{src: 'rectangle_21_8623.jpg', title: 'Pantoprazole Sodium 40mg Delayed - Release Tablet'},{src: 'rectangle_21_8623.jpg', title: 'Pantoprazole Sodium 40mg Delayed - Release Tablet'},{src: 'rectangle_21_8623.jpg', title: 'Pantoprazole Sodium 40mg Delayed - Release Tablet'},{src: 'rectangle_21_8623.jpg', title: 'Pantoprazole Sodium 40mg Delayed - Release Tablet'},{src: 'rectangle_21_8623.jpg', title: 'Pantoprazole Sodium 40mg Delayed - Release Tablet'},{src: 'rectangle_21_8623.jpg', title: 'Pantoprazole Sodium 40mg Delayed - Release Tablet'},{src: 'rectangle_21_8623.jpg', title: 'Pantoprazole Sodium 40mg Delayed - Release Tablet'}]
									a.card-images(href="#")
										img(src="img/common/"+val.src, alt="img") 
										span.fs-12.c-gray-500=val.title

		.topblock_v2
			include layout/top-block