extends layout/main

block variables
	-var title = 'Product'
	
block content
	.skeleton
		.container
			.flex-wrap.align-items-end 
				.skeleton-line.head
				.d-flex
					.skeleton-circle.mt-30
					.skeleton-circle.mt-30
					.skeleton-circle.mt-30
			.skeleton-block
				.flex-wrap.justify-content-between  
					.product-left
						.skeleton-1 
						.flex-center-center 
							.skeleton-3
							.skeleton-2
							.skeleton-2
							.skeleton-2
					.product-center
						.skeleton-4.max-220.mb-34
						.skeleton-5
						.skeleton-5
						.skeleton-5
						.skeleton-5.max-220
						.skeleton-6.max-95.mt-50
						.skeleton-line
						.skeleton-4.max-220
						.d-sm-flex.w-100
							.skeleton-7.max-sm-220
							.skeleton-7.max-sm-220
							.skeleton-7.max-sm-95
					.product-right
						.skeleton-8.max-190
						.skeleton-8.max-220
						.skeleton-9.h-55.mt-30.max-220
						.skeleton-9.h-55.green.mt-55
						.skeleton-9.blue.mt-20
						.justify-content-between.w-100
							.skeleton-10.max-120
							.skeleton-10.max-120
				
				.tabs.d-sm-flex.d-none 
					.skeleton-6.max-95
					.skeleton-4.max-95
				.flex-wrap
					.content-product
						.tabs-item.d-sm-none
							.skeleton-6.max-95
						.content-item
							.flex-wrap
								.content-item_links.mt-25 
									.skeleton-4.max-190.mb-25
									.skeleton-5.max-190
									.skeleton-5.max-190
									.skeleton-5.max-150
									.skeleton-5.max-190
									.skeleton-5.max-190
									.skeleton-5.max-150
								.content-item_info.mt-25 
									.skeleton-4.max-190.mb-25
									.skeleton-5
									.skeleton-5
									.skeleton-5
									.skeleton-5.max-220
									.skeleton-line
									.skeleton-4.max-190.mb-25
									.skeleton-5
									.skeleton-5
									.skeleton-5
									.skeleton-5.max-220
									.d-xl-block.d-none
										.skeleton-line
										.skeleton-4.max-190.mb-25
										.skeleton-5
										.skeleton-5
										.skeleton-5
										.skeleton-5.max-220
										.skeleton-line
										.skeleton-4.max-190.mb-25
										.skeleton-5
										.skeleton-5
										.skeleton-5
										.skeleton-5.max-220
										.skeleton-line
										.skeleton-4.max-190.mb-25
										.skeleton-5
										.skeleton-5
										.skeleton-5
										.skeleton-5.max-220
										.skeleton-line
										.skeleton-4.max-190.mb-25
										.skeleton-5
										.skeleton-5
										.skeleton-5
										.skeleton-5.max-220
							hr.line.mt-20.d-xl-none.w-100
					
					.content-item-imgs.mt-25
						.skeleton-4.max-190.mb-25
						.flex-wrap
							.card-images
								.skeleton-11
								.skeleton-5
								.skeleton-5.max-95
							.card-images
								.skeleton-11
								.skeleton-5
								.skeleton-5.max-95
							.card-images
								.skeleton-11
								.skeleton-5
								.skeleton-5.max-95
							.card-images
								.skeleton-11
								.skeleton-5
								.skeleton-5.max-95
							.card-images
								.skeleton-11
								.skeleton-5
								.skeleton-5.max-95
							.card-images
								.skeleton-11
								.skeleton-5
								.skeleton-5.max-95
							.card-images
								.skeleton-11
								.skeleton-5
								.skeleton-5.max-95
							.card-images
								.skeleton-11
								.skeleton-5
								.skeleton-5.max-95
						.skeleton-12
			.topblock_v2
				.topblock
					.topblock-container
						.flex-wrap.align-items-center
							.skeleton-circle.big.green.mr-sm-60
							.w-sm-50.w-100 
								.skeleton-4.max-190.mb-10
								.skeleton-4.max-190.mb-10
								.skeleton-4.max-250.mb-10
						.slider-medications
							.d-flex
								.medications
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
								.medications
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
								.medications
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
								.medications
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190
									.medications-item.align-items-center
										.skeleton-circle.small 
										.skeleton-5.max-190

	.bg-before-blue.skeleton-hide
	.container.skeleton-hide
		.flex-lg-end-between.pt-35
			.product-title
				ul.breadcrumbs.breadcrumbs_v2
					+breadcrumbs-item('Pantoprazole', '#')
					+breadcrumbs-item('Generic', '#')
					+breadcrumbs-item('Sildenafil', '#')
			.align-items-center
				p.fs-14.c-gray.mr-14.d-lg-block.d-none Share
				ul.social.social-gray.d-flex 
					each val in ['facebook','twitter','instagram']
						li.social-item
							a.social-link(href="#" )
								+icon(val)
		.product
			.flex-wrap.justify-content-between 
				.product-left 
					.slider-for
						.slider-for-item 
							img(src="img/product/rectangle_12_7672.jpg", alt="product")
						ul.slick-dots.d-md-none
							-var dots = 3
							li.slick-active(role='presentation')
								button(type='button' role='tab')
							while dots--
								li(role='presentation')
									button(type='button' role='tab')
					.slider-nav
						-var slideNav = 4
						while slideNav--
							.slider-nav-item 
								img(src="img/product/rectangle_12_7672.jpg", alt="product")
				.product-center
					p.fw-bold Description
					.dashed-horizontal.my-10
					p.fs-14.line-clamp Pantoprazole (
						a.c-green(href="#") Protonix
						|) is an inexpensive drug used to treat 
						a.c-green(href="#")  gastroesophageal reflux disease, 
						| inflammation of the esophagus, and Zollinger-Ellison syndrome. This drug is slightly more popular than comparable drugs. It is available in brand and generic form. Generic pantoprazole is covered by most Medicare and insurance plans, but some pharmacy coupons or cash prices may be lower. The lowest GoodRx price for the most common version of pantoprazole is around $8.84, 86% off the average retail price of $66.96 ...
					a.c-green.btn-more(href="#") 
						+icon("long-arrow", "c-green mr-14")
						| More
					hr.line.mb-10.mt-20.d-sm-block.d-none
					p.fw-bold.py-3 Prescription Settings
					.d-flex.settings
						.select
							select
								option(value="" selected) Generic
								option(value="") Generic
								option(value="") Generic
						.select
							select
								option(value="" selected) Tablet
								option(value="") Tablet
								option(value="") Tablet
						.select
							select
								option(value="" selected) 40mg
								option(value="") 40mg
								option(value="") 40mg
						.select
							select
								option(value="" selected) 30 tablets
								option(value="") 30 tablets
								option(value="") 30 tablets
				.product-right
					p.fs-35.text-up Our best price 
					.d-flex.pt-25
						div.mr-30.c-green 
							p.fs-50.fw-bold $8.38
							p.fs-20.fw-semi Save 73%
						div.c-gray-light
							p.lh-24 Price in USA
							p.fs-20.lh-20.fw-bold $31.00

					a.btn.mt-30.lh-55(href="#" data-open-popup="popup-added-to-card") Add to Cart
						+icon("shopping-cart")
					a.btn.mt-20.bg-blue-color.lh-55(href="#") Order Now
						+icon("arrow_right")

					hr.line.my-25
					.align-xl-items-center.mt-xl-20.mailfree-block
						.align-items-center.pr-xl-15 
							+icon("contract", "mr-xl-14 mr-20")
							p.fs-10.text-up.fw-semi.c-gray-600 Licensed<br class="d-xl-block d-none"> wholesale<br class="d-xl-block d-none"> medical supplier
						.align-items-center.pl-xl-15.mt-xl-0.mt-15
							+icon("air-plane", "mr-xl-14 mr-20")
							p.fs-10.text-up.fw-semi.c-gray-600 Free<br class="d-xl-block d-none"> express mail<br class="d-xl-block d-none"> shipping
			
			ul.tabs.d-sm-flex.d-none
				li.tabs-item.active(data-tab="1")
					.align-items-center.tabs-item_main
						+icon("info")
						p.fw-medium Drug Info
						.plus.d-sm-none
				li.tabs-item(data-tab="2")
					.align-items-center.tabs-item_main
						+icon("warning")
						p.fw-medium Side Effects
						.plus.d-sm-none
			.flex-wrap
				.content-product.relative
					.skeleton-local-1
						.flex-wrap
							.content-item_links.mt-25 
								.skeleton-4.max-190.mb-25
								.skeleton-5.max-190
								.skeleton-5.max-190
								.skeleton-5.max-150
								.skeleton-5.max-190
								.skeleton-5.max-190
								.skeleton-5.max-150
							.content-item_info.mt-25 
								.skeleton-4.max-190.mb-25
								.skeleton-5
								.skeleton-5
								.skeleton-5
								.skeleton-5.max-220
								.skeleton-line
								.skeleton-4.max-190.mb-25
								.skeleton-5
								.skeleton-5
								.skeleton-5
								.skeleton-5.max-220
								.d-xl-block.d-none
									.skeleton-line
									.skeleton-4.max-190.mb-25
									.skeleton-5
									.skeleton-5
									.skeleton-5
									.skeleton-5.max-220
									.skeleton-line
									.skeleton-4.max-190.mb-25
									.skeleton-5
									.skeleton-5
									.skeleton-5
									.skeleton-5.max-220
									.skeleton-line
									.skeleton-4.max-190.mb-25
									.skeleton-5
									.skeleton-5
									.skeleton-5
									.skeleton-5.max-220
									.skeleton-line
									.skeleton-4.max-190.mb-25
									.skeleton-5
									.skeleton-5
									.skeleton-5
									.skeleton-5.max-220
						hr.line.mt-20.d-xl-none.w-100
					.tabs-item.d-sm-none(data-tab="1")
						.align-items-center.tabs-item_main
							+icon("info")
							p.fw-medium Drug Info
							.plus.d-sm-none
					.content-item.hide.active(data-content="1")
						.flex-wrap
							.content-item_links.mt-25  
								
								p.fs-16.fw-bold Quick Links
								.dashed-horizontal.my-10
								ul.list 
									each val in ['What is Pantoprazole?', 'Overview', 'Proper Use', 'Dosing', 'Missed Dose', 'Use & Storage', 'Before Using', 'Allergies', 'Pediatric', 'Geriatric', 'Breastfeeding', 'Drug Interactions', 'Other Interactions', 'Other Medical Problems', 'Precautions']
										li.list-item
											a.list-link(href="#")
												+icon("arrow_right")
												=val
							.content-item_info.mt-25 
								.collapse 
									.flex-center-between.collapse-item
										div
											p.fs-16.fw-bold What is Pantoprazole?
											.dashed-horizontal.my-10
										.mb-20
											+icon("angle-down", "d-lg-none ")
								
									ul.collapse-drop 
										li.d-sm-flex.mb-8
											.flex-basis.align-items-center
												p.fs-14.text-nowrap Commonly Used Brand Name(s) 
												.dotted.mx-30.d-sm-block.d-none 
											a.fs-14.c-green.fw-semi(href="#") Protonix
										li.d-sm-flex.mb-8
											.flex-basis.align-items-center
												p.fs-14.text-nowrap Therapeutic Classifications
												.dotted.mx-30.d-sm-block.d-none  
											a.fs-14.c-green.fw-semi(href="#") Gastric Acid Secretion Inhibitor
										li.d-sm-flex.mb-8
											.flex-basis.align-items-center
												p.fs-14.text-nowrap Pharmacologic Classifications
												.dotted.mx-30.d-sm-block.d-none 
											a.fs-14.c-green.fw-semi(href="#") Proton Pump Inhibitor
								hr.line.my-20
								.collapse.pt-10 
									.flex-center-between.collapse-item
										div
											p.fs-16.fw-bold Overview
											.dashed-horizontal.my-10
										.mb-20
											+icon("angle-down", "d-lg-none")
									.collapse-drop 
										p.fs-14.pb-20
											a.c-green(href="#") Pantoprazole 
											|is used to treat certain conditions in which there is too much acid in the stomach. It is used to treat erosive esophagitis or "heartburn" caused by 
											a.c-green(href="#") gastroesophageal reflux disease (GERD)
											|, a condition where the acid in the stomach washes back up into the esophagus. This medicine may also be used to treat Zollinger-Ellison syndrome, a condition where the stomach produces too much acid.
										p.fs-14.pb-20 
											a.c-green(href="#") Pantoprazole 
											|is a proton pump inhibitor (PPI). It works by decreasing the amount of acid produced by the stomach.
										p.fs-14.pb-20 This medicine is available only with your doctor's prescription.
								hr.line.my-20
								.collapse.pt-10 
									.flex-center-between.collapse-item
										div
											p.fs-16.fw-bold Proper Use
											.dashed-horizontal.my-10
										.mb-20
											+icon("angle-down", "d-lg-none")
									.collapse-drop 
										p.fs-14.pb-20
											i.fw-semi  Take this medicine only as directed by your doctor. 
											| Do not take more of it, do not take it more often, and do not take it for a longer time than your doctor ordered.
										
										p.fs-14.pb-20 This medicine comes with a Medication Guide. Read and follow these instructions carefully. Ask your doctor if you have any questions.
										p.fs-14.pb-20 Swallow the delayed-release tablet whole. Do not split, crush, or chew it. You may take the tablet with or without food.
										p.fs-14.pb-10 For 
											i.fw-semi delayed-release oral suspension granules:
										.pl-20
											p.fs-14.fw-semi.mb-8 Applesauce method:
											ol.list-number.pb-20
												li.fs-14.pb-10 Open packet.
												li.fs-14.pb-10 Mix the packet contents with 1 teaspoonful of applesauce. Do not mix with water, other liquids, or food.
												li.fs-14.pb-10 Swallow the mixture at least 30 minutes before a meal. Take it within 10 minutes after you mix it.
												li.fs-14.pb-10 Sip some water after you swallow the mixture. This will make sure all of the granules get all the way to your stomach.
												li.fs-14.pb-10 Do not chew or crush the granules. Do not divide the packet contents to make smaller doses.
											
											p.fs-14.fw-semi.mb-8 Apple juice method:
											ol.list-number.pb-20
												li.fs-14.pb-10 Open packet.
												li.fs-14.pb-10 Mix the packet contents with 1 teaspoon of apple juice in a small cup or container.
												li.fs-14.pb-10 Stir for 5 seconds (granules will not dissolve) and swallow it immediately or take it at least 30 minutes before a meal.
												li.fs-14.pb-10 Rinse the container with apple juice to make sure you get all of the medicine. Swallow it immediately.
												li.fs-14.pb-10 Do not chew or crush the granules. Do not divide the packet contents to make smaller doses.
											p.fs-14.fw-semi.mb-8 Feeding tube:
											ol.list-number
												li.fs-14.pb-10 Pour the packet contents in a 2-ounce (60 mL) catheter-tip syringe.
												li.fs-14.pb-10 Clear any clogs from the feeding tube before you put this medicine mixture into the tube.
												li.fs-14.pb-10 Add 10 mL of apple juice into the syringe. Gently tap or shake the barrel of the syringe to help rinse the syringe and tube.
												li.fs-14.pb-10 Repeat with an additional 10 mL of apple juice. No granules should remain in the syringe.
												li.fs-14.pb-10 Take this medicine at least 30 minutes before a meal.
								hr.line.my-20
										
								.collapse.pt-10 
									.flex-center-between.collapse-item
										div
											p.fs-16.fw-bold Drug Interactions
											.dashed-horizontal.my-10
										.mb-20
											+icon("angle-down", "d-lg-none")
									.collapse-drop 
										p.fs-14.pb-20 Although certain medicines should not be used together at all, in other cases two different medicines may be used together even if an interaction might occur. In these cases, your doctor may want to change the dose, or other precautions may be necessary. When you are taking this medicine, it is especially important that your healthcare professional know if you are taking any of the medicines listed below. The following interactions have been selected on the basis of their potential significance and are not necessarily all-inclusive.

										p.fs-14 Using this medicine with any of the following medicines is not recommended. Your doctor may decide not to treat you with this medication or change some of the other medicines you take.
											a.c-green.fw-semi.fs-14.my-10.d-block(href="#") ·  Rilpivirine
										p.fs-14.pb-20 Using this medicine with any of the following medicines is usually not recommended, but may be required in some cases. If both medicines are prescribed together, your doctor may change the dose or how often you use one or both of the medicines.
									
										.flex-wrap
											ul.list-disk.pb-sm-20.w-sm-50.w-100
												each val in ['Acalabrutinib','Acalabrutinib','Amphetamine','Atazanavir','Benzphetamine','Bosutinib','Capecitabine','Cilostazol','Citalopram','Dacomitinib','Dasatinib','Dextroamphetamine','Erlotinib','Eslicarbazepine Acetate','Gefitinib','Ketoconazole']
													li.fs-14.fw-medium=val 
											ul.list-disk.pb-sm-20.w-sm-50.w-100
												each val in ['Acalabrutinib','Acalabrutinib','Amphetamine','Atazanavir','Benzphetamine','Bosutinib','Capecitabine','Cilostazol','Citalopram','Dacomitinib','Dasatinib','Dextroamphetamine','Erlotinib','Eslicarbazepine Acetate','Gefitinib','Ketoconazole']
													li.fs-14.fw-medium=val 
								
						hr.line.mt-20.d-xl-none.w-100
					.tabs-item.d-sm-none(data-tab="2")
						.align-items-center.tabs-item_main
							+icon("warning")
							p.fw-medium Side Effects
							.plus.d-sm-none
					.content-item.hide(data-content="2")
						.flex-wrap 
							.content-item_side.mt-25 
								.collapse.pt-10
									.flex-center-between.collapse-item
										div
											p.fs-16.fw-bold What should I watch for?
											.dashed-horizontal.my-10
										.mb-20
											+icon("angle-down", "d-lg-none")
									.collapse-drop 
										p.fs-14.pb-20 It can take several days before your stomach 
											a.c-green(href="#") pain 
											| gets better. Check with your doctor or health care provider if your condition does not start to get better, or if it gets worse.
										p.fs-14.pb-20 This medicine may cause serious skin reactions. They can happen weeks to months after starting the medicine. Contact your health care provider right away if you notice fevers or 
											a.c-green(href="#") flu
											|-like symptoms with a rash. The rash may be red or purple and then turn into blisters or peeling of the skin. Or, you might notice a red rash with swelling of the face, lips or lymph nodes in your neck or under your arms.
										p.fs-14.pb-20 You may need blood work done while you are taking this medicine.
										p.fs-14 This medicine may cause a decrease in 
											a.c-green(href="#") vitamin B12
											|. You should make sure that you get enough 
											a.c-green(href="#") vitamin B12 
											| while you are taking this medicine. Discuss the foods you eat and the vitamins you take with your health care provider.
										
								hr.line.my-20
								.collapse.pt-10
									.flex-center-between.collapse-item
										div
											p.fs-16.fw-bold Common and Rare Side Effects
											.dashed-horizontal.my-10
										.mb-20
											+icon("angle-down", "d-lg-none")
									.collapse-drop 
										p.fs-14.pb-20 Along with its needed effects, a medicine may cause some unwanted effects. Although not all of these side effects may occur, if they do occur they may need medical attention.
										p.fs-14.fw-semi.pb-20 Check with your doctor immediately if any of the following side effects occur:
										.flex-wrap 
											ul.list-disk.pb-sm-20.w-sm-50.pr-20.w-100
												each val in ['Less common', 'Blurred vision', 'Dry mouth', 'Flushed, dry skin', 'Fruit-like breath odor', 'Increased hunger', 'Increased thirst', 'Increased urination', 'Nausea', 'Stomach pain', 'Sweating', 'Troubled breathing', 'Unexplained weight loss', 'Vomiting', 'Incidence not known', 'Absence of or decrease in body movements', 'Blindness', 'Blistering, peeling, or loosening of the skin', 'Bloating', 'Bloody or cloudy urine', 'Bloody, black, or tarry stools', 'Blurred vision', 'Chills', 'Clay-colored stools', 'Constipation', 'Continuous ringing or buzzing or other unexplained noise in the ears', 'Cough', 'Dark urine', 'Decreased vision', 'Diarrhea', 'Difficulty with speaking', 'Difficulty with swallowing', 'Dizziness or lightheadedness', 'Drowsiness', 'Fast heartbeat', 'Feeling of constant movement of self or surroundings']
													li.fs-14.fw-medium=val 
											ul.list-disk.pb-20.w-sm-50.pr-20.w-100 
												each val in ['Fever', 'General feeling of tiredness or weakness', 'Greatly decreased frequency of urination or amount of urine', 'Headache', 'Hearing loss', 'High fever', 'Hives, itching, or skin rash', 'Indigestion', 'Joint pain', 'Large, hive-like swelling on the face, eyelids, lips, tongue, throat, hands, legs, feet, or genitals', 'Light-colored stools', 'Loss of appetite', 'Mood or mental changes', 'Muscle cramp, pain, or stiffness', 'Muscle spasms (tetany) or twitching', 'Pains in the stomach, side, or abdomen, possibly radiating to the back', 'Pale skin', 'Puffiness or swelling of the eyelids or around the eyes, face, lips, or tongue', 'Red skin lesions, often with a purple center', 'Red, irritated eyes', 'Seizures', 'Sensation of spinning', 'Sore throat', 'Sores, ulcers, or white spots on the lips or in the mouth', 'Stomach pain, continuing', 'Swelling of the feet or lower legs', 'Swollen glands', 'Tightness in the chest', 'Trembling', 'Unexplained bleeding or bruising', 'Unpleasant breath odor', 'Unusual tiredness or weakness', 'Vomiting of blood', 'Yellow eyes or skin']
													li.fs-14.fw-medium=val 
										p.fs-14.py-20 Some side effects may occur that usually do not need medical attention. These side effects may go away during treatment as your body adjusts to the medicine. Also, your health care professional may be able to tell you about ways to prevent or reduce some of these side effects. Check with your health care professional if any of the following side effects continue or are bothersome or if you have any questions about them:
										.flex-wrap.py-20 
											ul.list-disk.pb-sm-20.w-sm-50.pr-20.w-100 
												each val in ['Less common', 'Belching', 'Bloated or full feeling', 'Excess air or gas in the stomach or bowels']
													li.fs-14.fw-medium=val 
											ul.list-disk.pb-20.w-sm-50.pr-20.w-100 
												each val in ['Passing gas', 'Trouble sleeping', 'Incidence not known', 'Increased watering of the mouth']
													li.fs-14.fw-medium=val 
										p.fs-14.pb-20 Other side effects not listed may also occur in some patients. If you notice any other effects, check with your healthcare professional.
										p.fs-14.pb-20 Call your doctor for medical advice about side effects. You may report side effects to the FDA at 
											a.c-green(href="#") 1-800-FDA-1088.
						hr.line.mt-20.d-xl-none.w-100
				.content-item-imgs.mt-25
					p.fs-16.fw-bold Pantoprazole Images
					.dashed-horizontal.my-10
					.flex-wrap.justify-content-between
						.flex-wrap.content-item-imgs_cards 
							each val in [{src: 'rectangle_21_8623.jpg', title: 'Pantoprazole Sodium 40mg Delayed - Release Tablet', plus: true},{src: 'rectangle_21_8623.jpg', title: 'Pantoprazole Sodium 40mg Delayed - Release Tablet', plus: true},{src: 'rectangle_21_8623.jpg', title: 'Pantoprazole Sodium 40mg Delayed - Release Tablet', plus: true},{src: 'rectangle_21_8623.jpg', title: 'Pantoprazole Sodium 40mg Delayed - Release Tablet', plus: true},{src: 'rectangle_21_8623.jpg', title: 'Pantoprazole Sodium 40mg Delayed - Release Tablet', plus: true},{src: 'rectangle_21_8623.jpg', title: 'Pantoprazole Sodium 40mg Delayed - Release Tablet', plus: true},{src: 'rectangle_21_8623.jpg', title: 'Pantoprazole Sodium 40mg Delayed - Release Tablet', plus: false},{src: 'rectangle_21_8623.jpg', title: 'Pantoprazole Sodium 40mg Delayed - Release Tablet', plus: false}]
								a.card-images(href="#" class=val.plus==true ? 'bb-1': '')
									img(src="img/common/"+val.src, alt="img") 
									span.fs-12.c-gray-500=val.title
									if (val.plus == true)
										.card-images_plus
									else
									
						.my-25.w-100.max-xl-440.d-lg-block.d-none
							include layout/drug
		
		.topblock_v2
			include layout/top-block

		.content-item_drug.mt-25.d-lg-none
			.w-100
				include layout/drug

	.popup.popup-added-to-card(data-popup="popup-added-to-card") 
		.popup-container.max-720.stopPropagation 
			form.form-added-cart
				button.close(type="button")
				.product-title.mr-0.pb-30.mb-20
					h2.fs-35.text-up Added to Cart 

				.justify-content-sm-between
					.d-flex.pr-sm-15
						a.shrink-0(href="#") 
							img.img-product(src="img/product/rectangle_12_7672.jpg", alt="product")
						.justify-content-between.flex-column 
							.lh-1_2.pb-15
								a.fs-22.text-up.c-blue(href="#") Pantoprazole
								.flex-wrap 
									a.fs-14.c-green(href="#") Generic
									p.fs-14.c-gray-light.mx-15 /
									a.fs-14.c-green(href="#") Sildenafil
							.lh-22.pb-15
								p.fw-bold Prescription Settings
								.flex-wrap
									.d-flex 
										a.fs-14.c-blue(href="#") Generic
										p.fs-14.c-gray-light.mx-10 /
									.d-flex
										a.fs-14.c-blue(href="#") Tablet
										p.fs-14.c-gray-light.mx-10 /
									.d-flex
										a.fs-14.c-blue(href="#") 40mg
										p.fs-14.c-gray-light.mx-10 /
									a.fs-14.c-blue(href="#") 30 tablets
					.price-col 
						.d-sm-block.flex-start-center.ml-sm-0.ml-auto
							p.c-gray-light Price
								span.d-sm-none.mr-20 :
							p.fs-30.fw-bold.text-up.c-green $8.38


				
			.popup-bottom
				.flex-center-between.flex-sm-row.flex-column-reverse 
					a.align-items-center.fs-14.c-gray-600.py-3(href="#") 
						+icon("arrow_left", "c-gray-600 mr-20 wh-20")
						| Continue Shopping
					a.btn.lh-55.max-220.w-100(href="#") Purchase
						+icon("shopping-cart", "wh-25")